<title>Ontov Visualization - PROTOTYPE</title>

<link rel="stylesheet" type="text/css" href="css/bootstrap-3.2.0.css">
<link rel="stylesheet" type="text/css" href="css/visualsearch/visualsearch.css">
<link rel="stylesheet" type="text/css" href="css/visualsearch/visualsearch-datauri.css">
<link rel="stylesheet" type="text/css" href="css/index.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js">
</script>

<script type="text/javascript" src="js/ontov.js"></script>
