<!-- Template for main -->
<!doctype html>
<html lang="en">
<head>
	<!-- Scripts, links, ... -->
	<% include partials/head %>
</head>
<body ng-app="ontov">
	<header>
		<!--	Navigation bar -->
		<% include partials/header %> 
	</header>
	<main>
		<!--	Page content -->
		<div>
		<visual-search></visual-search>
		<ontov-viz height="500"></ontov-viz>
		<div>
	</main>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
</html>
